
{% extends "home index.html" %}
{% block body %}
{#<table>#}
{#    <tr>#}
{#        <td>#}
{#            <a href="/adm_add_constitency">Add Constituency</a>#}
{#        </td>#}
{#    </tr>#}
{#     <tr>#}
{#        <td>#}
{#            <a href="/adm_constituency_management">Constituecy Management</a>#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>#}
{#             <a href="/adm_add_election">Add Election</a>#}
{#        </td>#}
{#    </tr>#}
{#     <tr>#}
{#        <td>#}
{#            <a href="/adm_view_election">View Election</a>#}
{#        </td>#}
{#    </tr>#}
{#     <tr>#}
{#        <td>#}
{#            <a href="/adm_candidate_mgmt">Candidate Management</a>#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>#}
{#            <a href="/adm_view_consttncy">View Candidate and R</a>#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>#}
{#            <a href="/adm_complint_mgmt">Complaint Management</a>#}
{#        </td>#}
{#    </tr>#}
{##}
{#     <tr>#}
{#        <td>#}
{#            <a href="/adm_view_user">View User</a>#}
{#        </td>#}
{#    </tr>#}
{##}
{##}
{#</table>#}
{% endblock %}