{% extends "home index.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table width="78%" height="253" border="0">
    <tr>
      <th width="14%" scope="col">Sl No.</th>
      <th width="49%" scope="col">Constituency Name</th>
      <th colspan="2" scope="col">Action</th>
    </tr>

    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td width="18%"><div align="center"><a href="#">Edit</a></div></td>
      <td width="19%"><div align="center"><a href="#">Delete</a></div></td>
    </tr>

  </table>
</form>
{% endblock %}