<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/login_temp/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/static/login_temp/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/login_temp/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="/static/login_temp/css/style.css">

    <title>Admin Login</title>
  </head>
  <body>
  

  <div class="d-lg-flex half">
    <div class="bg order-1 order-md-2" style="background-image: url('/static/login_temp/images/evote.jpg');"></div>
    <div class="contents order-2 order-md-1">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7">
            <h3>Admin Login <br> <strong>Digital Voting Sysytem</strong></h3>
            <p class="mb-4">Secure Digital Voting System based on Blockchain Technology</p>
            <form action="/login_pst" method="post">
              <div class="form-group first">
                <label for="username">Username</label>
                <input type="text" class="form-control" placeholder="Username" name="username" id="username">
              </div>
              <div class="form-group last mb-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" placeholder="Password" name="password" id="password">
              </div>

              <input type="submit" value="Log In" class="btn btn-block btn-primary">

            </form>
          </div>
        </div>
      </div>
    </div>

    
  </div>
    
    

    <script src="/static/login_temp/js/jquery-3.3.1.min.js"></script>
    <script src="/static/login_temp/js/popper.min.js"></script>
    <script src="/static/login_temp/js/bootstrap.min.js"></script>
    <script src="/static/login_temp/js/main.js"></script>
  </body>
</html>