<form id="form1" name="form1" method="post" action="/login_pst">
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <table width="41%" height="120" border="0" align="center">
    <tr>
      <td>Username</td>
      <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" /></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><label for="textfield2"></label>
      <input type="password" name="textfield2" id="textfield2" /></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="button" id="button" value="Login" />
      </div></td>
    </tr>
  </table>
 
</form>